#navbar{
    /*position: sticky;*/
    display: flex;
    justify-content: center;
    top: 0;
    background-color: #f713b3;
    color: white;
    padding: 10px;
    width: 100%;
    height: 50px;
    margin: auto;
    text-align: center;

}
#navbar ul li{
    display: inline;
    margin-right: 100px;
    font-size: 20px;
    cursor: pointer;
}
/* pseudo class */
a.hover{
    color: black;
}
a.visited{
    color: gray;
}