body {
    background-color: #fafafa;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.box {
    background: #fff;
    width: 350px;
    padding: 30px;
    text-align: center;
}

#title {
    font-size: 40px;
}

.subtext {
    font-size: 14px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    background-color: #fafafa;
    border-radius: 4px;
}

.facebook {
    
    background-color: #4178ef;
    margin-top: 10px;
}

.signup-btn {
    background-color: #0095f6;
    margin-top: 15px;
}

.or {
    margin: 10px 0;
    font-weight: bold;
    color: #888;
}

.small {
    font-size: 15px;
    color: #777;
    margin-top: 8px;
}