.navbar{
    position:sticky;
    top: 0; 
    background: #111;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
#image{
    background-size: 500px;
    width: 100%;

}